In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
df=pd.read_csv(r"C:\Users\sharo\Desktop\AI\AI Library\EDA\titanic.csv",usecols=["Survived","Pclass","Age","Fare"])
df

     Survived  Pclass   Age     Fare
0           0       3  22.0   7.2500
1           1       1  38.0  71.2833
2           1       3  26.0   7.9250
3           1       1  35.0  53.1000
4           0       3  35.0   8.0500
..        ...     ...   ...      ...
886         0       2  27.0  13.0000
887         1       1  19.0  30.0000
888         0       3   NaN  23.4500
889         1       1  26.0  30.0000
890         0       3  32.0   7.7500

[891 rows x 4 columns]

In [6]:
df.isnull().sum()

Survived      0
Pclass        0
Age         177
Fare          0
dtype: int64

In [7]:
df["Age"].fillna(df["Age"].median(),inplace=True)

In [9]:
df.isnull().sum()

Survived    0
Pclass      0
Age         0
Fare        0
dtype: int64

In [13]:
from sklearn.preprocessing import StandardScaler

sc=StandardScaler()

ss=sc.fit_transform(df)

In [19]:
updated_df=pd.DataFrame(ss,columns=df.columns)

In [20]:
updated_df.describe()

           Survived        Pclass           Age          Fare
count  8.910000e+02  8.910000e+02  8.910000e+02  8.910000e+02
mean  -2.287732e-16 -2.031048e-16  3.841546e-16 -4.373606e-17
std    1.000562e+00  1.000562e+00  1.000562e+00  1.000562e+00
min   -7.892723e-01 -1.566107e+00 -2.224156e+00 -6.484217e-01
25%   -7.892723e-01 -3.693648e-01 -5.657365e-01 -4.891482e-01
50%   -7.892723e-01  8.273772e-01 -1.046374e-01 -3.573909e-01
75%    1.266990e+00  8.273772e-01  4.333115e-01 -2.424635e-02
max    1.266990e+00  8.273772e-01  3.891554e+00  9.667167e+00