In [2]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [3]:
df = pd.read_csv(r"C:\Users\sharo\Desktop\AI\AI Library\SupervisedLearning\9_Logistic_Regression_multiclass\winequality.csv")
df                                            #csv aan bt seperation semicolon aan

     fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"
0      7;0.27;0.36;20.7;0.045;45;170;1.001;3;0.45;8.8;6
1     6.3;0.3;0.34;1.6;0.049;14;132;0.994;3.3;0.49;9...
2     8.1;0.28;0.4;6.9;0.05;30;97;0.9951;3.26;0.44;1...
3     7.2;0.23;0.32;8.5;0.058;47;186;0.9956;3.19;0.4...
4     7.2;0.23;0.32;8.5;0.058;47;186;0.9956;3.19;0.4...
...                                                 ...
4893  6.2;0.21;0.29;1.6;0.039;24;92;0.99114;3.27;0.5...
4894  6.6;0.32;0.36;8;0.047;57;168;0.9949;3.15;0.46;...
4895  6.5;0.24;0.19;1.2;0.041;30;111;0.99254;2.99;0....
4896  5.5;0.29;0.3;1.1;0.022;20;110;0.98869;3.34;0.3...
4897  6;0.21;0.38;0.8;0.02;22;98;0.98941;3.26;0.32;1...

[4898 rows x 1 columns]

In [4]:
df = pd.read_csv(r"C:\Users\sharo\Desktop\AI\AI Library\SupervisedLearning\9_Logistic_Regression_multiclass\winequality.csv",sep=";")
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
...,...,...,...,...,...,...,...,...,...,...,...,...
4893,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6
4894,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5
4895,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6
4896,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7
4897,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6

In [5]:
# quality aan nammude dependent

In [6]:
df.corr()["quality"]  #hr ile pole groupby cheyyathth athinte output data set inod similar aan

fixed acidity          -0.113663
volatile acidity       -0.194723
citric acid            -0.009209
residual sugar         -0.097577
chlorides              -0.209934
free sulfur dioxide     0.008158
total sulfur dioxide   -0.174737
density                -0.307123
pH                      0.099427
sulphates               0.053678
alcohol                 0.435575
quality                 1.000000
Name: quality, dtype: float64

In [7]:
cor=abs(df.corr()["quality"]).sort_values(ascending=False)

In [8]:
cor[cor>0.1]

quality                 1.000000
alcohol                 0.435575
density                 0.307123
chlorides               0.209934
volatile acidity        0.194723
total sulfur dioxide    0.174737
fixed acidity           0.113663
Name: quality, dtype: float64

In [9]:
cor[cor>0.1].index

Index(['quality', 'alcohol', 'density', 'chlorides', 'volatile acidity',
       'total sulfur dioxide', 'fixed acidity'],
      dtype='object')

In [10]:
newdf=df[['alcohol','density','chlorides','volatile acidity','total sulfur dioxide','fixed acidity','quality']]
newdf

,alcohol,density,chlorides,volatile acidity,total sulfur dioxide,fixed acidity,quality
0,8.8,1.00100,0.045,0.27,170.0,7.0,6
1,9.5,0.99400,0.049,0.30,132.0,6.3,6
2,10.1,0.99510,0.050,0.28,97.0,8.1,6
3,9.9,0.99560,0.058,0.23,186.0,7.2,6
4,9.9,0.99560,0.058,0.23,186.0,7.2,6
...,...,...,...,...,...,...,...
4893,11.2,0.99114,0.039,0.21,92.0,6.2,6
4894,9.6,0.99490,0.047,0.32,168.0,6.6,5
4895,9.4,0.99254,0.041,0.24,111.0,6.5,6
4896,12.8,0.98869,0.022,0.29,110.0,5.5,7
4897,11.8,0.98941,0.020,0.21,98.0,6.0,6

In [11]:
df.isna().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [12]:
y=newdf["quality"]

X=newdf.drop("quality",axis=1)
X

,alcohol,density,chlorides,volatile acidity,total sulfur dioxide,fixed acidity
0,8.8,1.00100,0.045,0.27,170.0,7.0
1,9.5,0.99400,0.049,0.30,132.0,6.3
2,10.1,0.99510,0.050,0.28,97.0,8.1
3,9.9,0.99560,0.058,0.23,186.0,7.2
4,9.9,0.99560,0.058,0.23,186.0,7.2
...,...,...,...,...,...,...
4893,11.2,0.99114,0.039,0.21,92.0,6.2
4894,9.6,0.99490,0.047,0.32,168.0,6.6
4895,9.4,0.99254,0.041,0.24,111.0,6.5
4896,12.8,0.98869,0.022,0.29,110.0,5.5
4897,11.8,0.98941,0.020,0.21,98.0,6.0

In [13]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=42)

In [14]:
lr_classifier = LogisticRegression()

In [15]:
lr_classifier.fit(X_train,y_train)

c:\Users\sharo\anaconda2\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [16]:
lr_classifier.score(X_train,y_train)

0.4763710618436406

In [17]:
lr_classifier.score(X_test,y_test)

0.4816326530612245

In [18]:
# scale down cheythit veendum score nokkuka