In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.model_selection import train_test_split

from sklearn.naive_bayes import GaussianNB

In [3]:
data = pd.read_csv("titanic.csv")
data.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [4]:
data.drop(["PassengerId","Name","Parch","SibSp","Ticket","Cabin","Embarked"],axis=1,inplace=True)
data.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [5]:
data["Sex"] = data["Sex"].map({"male":0,"female":1})

In [6]:
data.head()

   Pclass  Sex   Age     Fare  Survived
0       3    0  22.0   7.2500         0
1       1    1  38.0  71.2833         1
2       3    1  26.0   7.9250         1
3       1    1  35.0  53.1000         1
4       3    0  35.0   8.0500         0

In [7]:
data.isnull().sum()

Pclass        0
Sex           0
Age         177
Fare          0
Survived      0
dtype: int64

In [8]:
data["Age"].mode()

0    24.0
dtype: float64

In [9]:
data["Age"].fillna(data["Age"].mean(),inplace=True)

In [10]:
data.isnull().sum()

Pclass      0
Sex         0
Age         0
Fare        0
Survived    0
dtype: int64

In [11]:
X=data.drop(["Survived"],axis=1)
y=data["Survived"]

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=10)

In [12]:
model = GaussianNB()

model.fit(X_train,y_train)

GaussianNB()

In [13]:
model.score(X_test,y_test)

0.8059701492537313

In [14]:
model.score(X_train,y_train)

0.7624398073836276

In [15]:
# Tuning